    .inline{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 5%;
    }

    .Edit-user{
        background-color: #EFCFA0;
        width: 50%;
        margin: auto;
        margin-top: 5%;
        padding: 3%;
        border-radius: 2%;
        box-shadow: 10px 10px 30px 10px #914110;
    }

    .Edit-user h1{
        font-family: 'Rockwell';
        font-size: 250%;
        text-align: center;
    }

    .Edit-user form{
        margin-top: 5%;
    }

    label{
        font-family: 'Trebuchet MS';
        font-size: larger;
    }

    .btn-edit{
        background-color: #914110;
        color: whitesmoke;
    }