<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h2 class="text-center">Peliculas mas vendidas</h2>
            <!-- Bar Chart-->
            <div>
                <div>
                    <canvas 
                    baseChart [data]="barChartData" 
                    [options]="barChartOptions" 
                    [plugins]="barChartPlugins"
                    [type]="barChartType" 
                    (chartHover)="chartHovered($event)" 
                    (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <br><br>
            <p style="text-align: center;">
                Para leer el presente diagrama... <br><br>
                <span class="blacked">Eje vertical:</span> Cantidad de stock vendido. <br>
                <span class="blacked">Eje horizontal:</span> Titulo de película. <br><br>
                <span class="cursive">(Nota: puede ver la linea de tiempo de una pelicula haciendo clic sobre esta)</span>
            </p>
        </div>
    </div>
</div>