    .row{
        margin-top: 5%;
        
    }

    .resumen{
        padding: 5%;
        background-color: #EFCFA0; 
        border-radius: 5%;
        border: solid 2px #E1A140;
    }

    .resumen, .resum-card h4{
        font-family: 'Franklin Gothic Medium';
        padding-bottom: 2%;
    }

    .resumen p, strong{
        font-family: 'Lucida Console';
    }

    .lines, .lines-total{
        display: flex;
    }

    .lines-total{
        padding-top: 2%;
        border-top: solid 2px #914110;
    }

    .resum-card, .card-list{
        padding: 3%;
        background-color: #EFCFA0;
        border: solid 2px #E1A140;
        border-radius: 5%;
    }

    .resum-card button{
        background-color: #E1A140;
        font-size: 25px;
        color: black;
        transition-duration: 0.4s;
    }

    .resum-card button:hover{
        background-color: #532200;
        color: whitesmoke;
    }

    .card-list{
        margin-top: 2%;
        border-radius: 5%;
    }

    .card{
        border-radius: 5%;
        border: solid 2px #E1A140 ;
        background: none;
        padding-bottom: 2%;
    }

    .btn-del{
        background-color: #E1A140;
        font-size: 25px;
        color: black;
        transition-duration: 0.4s;
    }

    .btn-del:hover{
        background-color: #532200;
        color: whitesmoke;
    }

    .form-check{
        float: right;
    }