<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h2 class="text-center">Popularidad de géneros</h2>
            <div style="width: 50%; margin: auto;" >
                <div class="chart">
                    <canvas baseChart
                        [data]="pieChartData"
                        [type]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        (chartClick)="pieChartClicked($event)" 
                    >
                    </canvas>
                </div>
            </div>
            <br><br>
            <p style="text-align: center;">
                Para leer el presente diagrama... <br><br>
                <span class="blacked">Cantidad de stock vendido:</span> Desplace el mouse sobre un genero<br><br>
                <span class="cursive">(Nota: puede ver la linea de tiempo de las ultimas 20 compras de un genero haciendo clic sobre este)</span>
            </p>
        </div>
    </div>
</div>

