<div class="container">
    <br>
    <div *ngIf="arrived">
    <br><p style="text-align: center; font-size: x-large; font-weight: bold;">{{movie.title}}</p>
    <br><br>
    <div class="row">
        <div class="col-6">
        <p style="text-align: center;">
            <img src="{{movie.imagelink}}" alt="imagen pelicula" class="img-fluid" width="60%">
        </p>
        </div>
        <div class="col-6">
            <br><br><br><br><br><br><br><br>
            <p *ngIf="movie.description == undefined"> <span class="bolder">Descripción:</span><br><i>No se encontró una descripción</i> </p>
            <p *ngIf="movie.description != undefined"> <span class="bolder">Descripción:</span><br><i>{{movie.description}}</i></p>
            <p>
                <span class="bolder">Actores: </span>
                <span *ngFor="let actor of actors">
                    {{actor.firstname}} {{actor.lastname}},
                </span>
            </p>
            <p>
                <span class="bolder">Precio: </span> {{movie.cost}} Bs. <br>
                <span class="bolder">Año: </span> {{movie.releaseyear}} <br>
                <span class="bolder">Rating: </span> {{movie.rating}}<br>
                <span class="bolder">Género: </span> {{movie.genre}} <br>
            </p>
            <br>
            <p>
                <button type="button" class="btn btn-outline-dark" (click)="addItem(movie)"><i class="fa-solid fa-shopping-cart"></i></button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-dark" routerLink="/cart">Comprar Ahora</button>
            </p>
        </div>
    </div>
    </div>
</div>
