<div class="container">
    <br>
    <p style="text-align: center; font-size: x-large;">{{movie[0].title}}</p>
    <br><br>
    <div class="row">
        <div class="col-6">
        <p style="text-align: center;">
            <img src="{{movie[0].image_link}}" alt="imagen pelicula" class="img-fluid" width="60%">
        </p>
        </div>
        <div class="col-6">
            <p *ngIf="movie[0].description == undefined"> <span class="bolder">Descripción:</span><br><i>No se encontró una descripción</i> </p>
            <p *ngIf="movie[0].description != undefined"> {{movie[0].description}} </p>
            <p>
                <span class="bolder">Actores: </span> Robert Downey Jr., Chris Evans, Scarlett Johansson, Elizabeth Olsen
            </p>
            <p>
                <span class="bolder">Precio: </span> {{movie[0].cost}} Bs. <br>
                <span class="bolder">Año: </span> {{movie[0].release_year}} <br>
                <span class="bolder">Rating: </span> {{movie[0].rating_id}}<br>
                <span class="bolder">Género: </span> {{movie[0].genre_id}} <br>
            </p>
            <br>
            <p style="text-align: center;">
                <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-shopping-cart"></i></button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary">Comprar Ahora</button>
            </p>
        </div>
    </div>
</div>
