<div class="container">

    <br>
    <p style="text-align: center; font-size: x-large;">Título de la película</p>
    <br><br>
    <div class="row">
        <div class="col-6">
        <p style="text-align: center;">
            <img src="https://raw.githubusercontent.com/alexander-sosa/films-and-chill/main/images/avengers.jpg" alt="Avegers" class="img-fluid" width="60%">
        </p>
        </div>
        <div class="col-6">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, deleniti nostrum aspernatur eveniet rem nam asperiores illo facere voluptatum nulla non reprehenderit veritatis, nemo, sequi ipsa omnis? Molestiae, ab aliquid?</p>
            <p>
                <span class="bolder">Actores: </span> Robert Downey Jr., Chris Evans, Scarlett Johansson, Elizabeth Olsen
            </p>
            <p>
                <span class="bolder">Precio: </span> 15.5 Bs. <br>
                <span class="bolder">Año: </span> 2021 <br>
                <span class="bolder">Rating: </span> PG-13 <br>
                <span class="bolder">Género: </span> Acción <br>
            </p>
            <br>
            <p style="text-align: center;">
                <button type="button" class="btn btn-outline-primary">icn</button> &nbsp;&nbsp;
                <button type="button" class="btn btn-primary">Comprar Ahora</button>
            </p>
        </div>
    </div>
</div>