<p>First chart!</p>

<!-- Bar Chart-->
<div style="width: 50%;">
    <div>
        <canvas 
        baseChart [data]="barChartData" 
        [options]="barChartOptions" 
        [plugins]="barChartPlugins"
        [type]="barChartType" 
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)" 
        >
        </canvas>
    </div>
    <button mat-button mat-raised-button 
    color="primary" (click)="randomize()">Update</button>
</div>

<!-- Pie Chart -->
<br><br>
<div style="width: 40%;">
    <div>
        <div class="chart">
            <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                (chartHover)="pieChartHovered($event)" 
                (chartClick)="pieChartClicked($event)" 
            >
            </canvas>
        </div>
    </div>
</div>

<!-- Line Chart -->
<br><br>
<div style="width: 50%;">
    <div>
      <div>
        <div style="display: block">
          <canvas 
            baseChart 
            [data]="lineChartData" 
            [options]="lineChartOptions"
            [type]="lineChartType" 
            (chartHover)="lineChartHovered($event)"
            (chartClick)="lineChartClicked($event)"></canvas>
        </div>
      </div>
    </div>
</div>