<div class="d-flex justify-content-center">
    
    <div class="sigin-form">
        <h1>Sign Up</h1>
        <form [formGroup]="signForm" (submit)="signin()">

            <div class="row mb-3">
                <label for="name" class="col-sm-4 col-form-label">Nombres:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" formControlName="name">
                    <div *ngIf="getValue('name')?.invalid && (getValue('name')?.touched || getValue('name')?.dirty)">
                      <div *ngIf="getValue('name')?.errors?.required" class="alert alert-danger" role="alert">
                        <p>Campo requerido</p>                          
                      </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
              <label for="last_name" class="col-sm-4 col-form-label">Apellidos:</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" id="last_name" formControlName="last_name">
                  <div *ngIf="getValue('last_name')?.invalid && (getValue('last_name')?.touched || getValue('last_name')?.dirty)">
                    <div *ngIf="getValue('last_name')?.errors?.required" class="alert alert-danger" role="alert">
                      <p>Campo requerido</p>                          
                    </div>
                  </div>
              </div>
          </div>

            <div class="row mb-3">
              <label for="email" class="col-sm-4 col-form-label">E-mail:</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="email" formControlName="email">
                <div *ngIf="getValue('email')?.invalid && (getValue('email')?.touched || getValue('email')?.dirty)">
                  <div *ngIf="getValue('email')?.errors?.required" class="alert alert-danger" role="alert">
                    <p>Campo requerido</p> 
                  </div>
                  <div *ngIf="getValue('email')?.errors?.email" class="alert alert-danger" role="alert">
                    <p>Dirección email requerida</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="pass" class="col-sm-4 col-form-label">Contraseña:</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="pass" placeholder="Minimo de 8 caracteres" formControlName="pass">
                <div *ngIf="getValue('pass')?.invalid && (getValue('pass')?.touched || getValue('pass')?.dirty)">
                  <div *ngIf="getValue('pass')?.errors?.required" class="alert alert-danger" role="alert">
                    <p>Campo requerido</p> 
                  </div>
                  <div *ngIf="getValue('pass')?.errors?.minlength" class="alert alert-danger" role="alert">
                    <p>Minimo 8 caracteres</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
                <label for="pass_conf" class="col-sm-4 col-form-label">Confirma contraseña:</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="pass_conf" placeholder="Minimo de 8 caracteres" formControlName="pass_conf">
                  <div *ngIf="getValue('pass_conf')?.invalid && (getValue('pass_conf')?.touched || getValue('pass_conf')?.dirty)">
                    <div *ngIf="getValue('pass_conf')?.errors?.required" class="alert alert-danger" role="alert">
                      <p>Campo requerido</p> 
                    </div>
                    <div *ngIf="getValue('pass_conf')?.errors?.minlength" class="alert alert-danger" role="alert">
                      <p>Minimo 8 caracteres</p>
                    </div>
                    <div *ngIf="getConfirm()==true" class="alert alert-danger" role="alert">
                      <p>Contraseñas diferentes</p>
                    </div>
                  </div>
                </div>
            </div>
          
            
            <button type="submit" class="btn-sign btn" [disabled]="signForm.invalid">Registrar</button>
          </form>

          <a routerLink="/login">Ya tienes una cuenta?, Inicia sesión</a>
        
    </div>
    
</div>
