    .row{
        margin-top: 5%;
        
    }

    .resumen{
        padding: 5%;
        background-color: #EFCFA0; 
        border-radius: 5%;
        border: solid 2px #E1A140;
    }

    .resumen, .resum-cart h4{
        font-family: 'Franklin Gothic Medium';
        padding-bottom: 2%;
    }

    .resumen p, strong{
        font-family: 'Lucida Console';
    }

    .lines, .lines-total{
        display: flex;
    }

    .lines-total{
        padding-top: 2%;
        border-top: solid 2px #914110;
    }

    .resum-cart, .cart-list{
        padding: 3%;
        background-color: #EFCFA0;
        border: solid 2px #E1A140;
        border-radius: 5%;
    }

    .resum-cart button{
        background-color: #E1A140;
        font-size: 25px;
        color: black;
        transition-duration: 0.4s;
    }

    .resum-cart button:hover{
        background-color: #532200;
        color: whitesmoke;
    }

    .cart-list{
        margin-top: 2%;
        border-radius: 5%;
    }

    .card{
        border-radius: 5%;
        border: solid 2px #E1A140 ;
        background: none;
        margin: auto;
        padding-bottom: 2%;
    }

    .btn-del, .btn-sold{
        background-color: #E1A140;
        font-size: 25px;
        color: black;
        transition-duration: 0.4s;
    }

    .btn-del, .btn-sold:hover{
        background-color: #532200;
        color: whitesmoke;
    }

    .form-check{
        float: right;
    }

    .img-fluid{
        width: 70%;
        height: auto;
    }

    .modal-content{
        background-color: #EFCFA0;
        font-family: 'Trebuchet MS';
        width: 150%;
    }

    .modal-footer{
        margin-top: 5%;
    }

    .modal-header{
        background-color: #914110;
    }

    .modal-title{
        color: whitesmoke;
        font-size: x-large;        
    }

    label{
        font-family: 'Lucida Console';
        font-size: large;
    }

    .btn-pay{
        background-color: #532200;
        color: white;
        transition-duration: 0.4s;
    }