<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="resum-cart">
            <h4>Tu carrito(3)</h4>
            <div class="lines">
                <button class="btn"><i class="fa-solid fa-cart-plus"></i></button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn"><i class="fas fa-cart-arrow-down"></i></button>
            </div>
        </div>

        <div class="cart-list">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Titulo</h5>
                      <p class="card-text">Precio: $</p>
                      <label>Unidades: </label>
                      <input type="number">
                      <button class="btn btn-del"><i class="fas fa-trash-alt"></i></button>                        
                    </div>
                  </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Titulo</h5>
                      <p class="card-text">description</p>
                      <p class="card-text">Precio: $</p>
                      <p class="card-text">envio: $</p>
                      <label>Unidades: </label>
                      <input type="number">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <button class="btn btn-del"><i class="fas fa-trash-alt"></i></button>
                    </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Titulo</h5>
                      <p class="card-text">description</p>
                      <p class="card-text">Precio: $</p>
                      <p class="card-text">envio: $</p>
                      <label>Unidades: </label>
                      <input type="number">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" >
                        <button class="btn btn-del"><i class="fas fa-trash-alt"></i></button>
                    </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
        
    </div>

    


    <div class="col-3" style="margin-left: 2%;">
        
        <div class="resumen">
            <h4>Resumen del pedido</h4>
            <div class="lines">
                <p style="float: left;">Subtotal: </p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p style="float: right;">10 Bs.</p>
            </div>
            <div class="lines">
                <p style="float: left;">Envío: </p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p style="float: right;">10 Bs.</p>
            </div>

            <div class="lines-total">
                <strong>Total:</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <strong style="float: right;">20 Bs.</strong>
            </div>
            
        </div>
    </div>
    
</div>
