<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="resum-cart">
            <h4>Tu carrito({{valor}})</h4>
            <div class="lines">
                <a routerLink="/">
                    <button class="btn"><i class="fa-solid fa-cart-plus"></i></button>
                </a>
                &nbsp;&nbsp;&nbsp;
                <button class="btn"><i class="fas fa-cart-arrow-down" (click)="removeAll()"></i></button>
            </div>
        </div>

        <div class="cart-list">
            <div class="card mb-3" *ngFor='let movie of cart'>
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{movie.image_link}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{movie.title}}</h5>
                      <p class="card-text">Precio: {{movie.cost}}$</p>
                      <label>Unidades: </label>
                      <input type="number">
                      <button class="btn btn-del"><i class="fas fa-trash-alt" (click)="removeFromCart(movie.movie_id)"></i></button>                        
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    


    <div class="col-3" style="margin-left: 2%;">
        
        <div class="resumen">
            <h4>Resumen del pedido</h4>
            <div class="lines">
                <p style="float: left;">Subtotal: </p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p style="float: right;">{{subtotal}} Bs.</p>
            </div>
            <div class="lines">
                <p style="float: left;">Envío: </p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p style="float: right;">10 Bs.</p>
            </div>

            <div class="lines-total">
                <strong>Total:</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <strong style="float: right;">{{total}} Bs.</strong>
            </div>
            
        </div>
    </div>
    
</div>
