<div *ngIf="valor != 0" class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="resum-cart">
            <h4>Tu carrito [{{valor}}]</h4>
            <div class="lines">
                <a routerLink="/">
                    <button class="btn"><i class="fa-solid fa-cart-plus"></i></button>
                </a>
                &nbsp;&nbsp;&nbsp;
                <button class="btn"><i class="fas fa-cart-arrow-down" (click)="removeAll()"></i></button>
            </div>
        </div>

        <div class="cart-list">
            <div class="card mb-3" *ngFor='let item of items' >
                <div class="row g-0" style=" padding-left: 3%; margin-top: 2%;">
                  <div class="col-md-4" style="background-color: aliceblue; padding: 1%; padding-left: 8%;">
                    <img src="{{item.movie.imagelink}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{item.movie.title}}</h5>
                      <p class="card-text">Precio: {{item.movie.cost}}$</p>
                      <label>Unidades: </label>
                      <input style="width: 15%; text-align: end;" type="number" value="1" min="1" max="{{item.movie.stock}}" [(ngModel)]="item.amount" (change)="calculatePrice()" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                      <button style="float: right" class="btn btn-del"><i class="fas fa-trash-alt" (click)="removeFromCart(item.movie.movieid)"></i></button>                        
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    


    <div class="col-3" style="margin-left: 2%;">
        
        <div class="resumen">
            <h4>Resumen del pedido</h4>
            <div class="lines">
                <p style="float: left;">Subtotal: </p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p style="float: right;">{{subtotal}} Bs.</p>
            </div>

            <div class="lines-total">
                <strong>Total:</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <strong style="float: right;">{{total}} Bs.</strong>
            </div>
            <br>
            <div>
                <p style="text-align: center; justify-content: center;"><button class="btn btn-sold">Comprar</button></p>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="valor == 0">
    <p style="text-align: center;">
        <img src="https://raw.githubusercontent.com/alexander-sosa/films-and-chill/main/images/error.png" alt="">
        <br>¡No tienes películas en el carrito!<br>
        <br><br><button class="btn btn-dark" routerLink="/movies">Ir a la lista</button>
    </p>
</div>