/* You can add global styles to this file, and also import other style files */
.content {
    background-color: #F2F1EF;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    
    flex-direction: column;
    align-items: center;
  }