<div class="Edit-pass">
    <h1>Cambio de Contraseña</h1>

    <form [formGroup]="EditPassForm" (submit)="updatePass()">

        <div style="margin: auto;  padding-left: 8%;">
            <div class="row mb-3">
                <label for="current_pass" class="col-sm-6 col-form-label">Contraseña actual</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="current_pass" formControlName="current_pass">
                  <div *ngIf="getValue(EditPassForm, 'current_pass')?.errors?.required">                  
                        <span class="text-danger">Campo requerido para la edición</span>  
                    </div>
                    <div *ngIf="getValue(EditPassForm, 'current_pass')?.errors?.minlength">                    
                        <span class="text-danger" >Minimo 8 caracteres</span>  
                    </div>
                </div>
            </div>
    
    
            <div class="row mb-3">
                <label for="new_pass" class="col-sm-6 col-form-label">Contraseña nueva</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="new_pass" formControlName="new_pass" placeholder="Minimo 8 caracteres">
                  <div *ngIf="getValue(EditPassForm, 'new_pass')?.errors?.required">                  
                        <span class="text-danger">Campo requerido</span>  
                    </div>
                    <div *ngIf="getValue(EditPassForm, 'new_pass')?.errors?.minlength">                    
                        <span class="text-danger" >Minimo 8 caracteres</span>  
                    </div>
                </div>
            </div>
    
            <div class="row mb-3">
                <label for="new_pass_conf" class="col-sm-6 col-form-label">Confirma nueva contraseña</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control" id="new_pass_conf" formControlName="new_pass_conf" placeholder="Minimo 8 caracteres">
                  <div *ngIf="getValue(EditPassForm, 'new_pass_conf')?.errors?.required">                  
                        <span class="text-danger">Campo requerido</span>  
                    </div>
                    <div *ngIf="getValue(EditPassForm, 'new_pass_conf')?.errors?.minlength">                    
                        <span class="text-danger" >Minimo 8 caracteres</span>  
                    </div>
                </div>
            </div>
        </div>

        


        <a [routerLink]="['/user-profile']">Volver</a>
        <button class="btn btn-edit" type="submit" [disabled]="EditPassForm.invalid" style="float:right" >Cambiar</button>
        
    </form>

</div>


